<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Stamped_Adminhtml::admin" title="Stamped Admin">
                <resource id="Stamped_Core::core" title="Core" sortOrder="40">
                    <resource id="Stamped_Core::manage" title="Core Module" sortOrder="10">
						<resource id="Stamped_Core::save" title="Save Core" sortOrder="10" />
                        <resource id="Stamped_Core::news_delete" title="Delete Core" sortOrder="20" />
					</resource>
                </resource>
                <resource id="Stamped_Adminhtml::stores" title="Stamped Stores">
                    <resource id="Stamped_Adminhtml::stores_settings" title="Stamped Stores Setting">
                        <resource id="Stamped_Adminhtml::config" title="Stamped Config">
                            <resource id="Stamped_Core::config_core" title="Core Section" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
