<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Dintero\Checkout\Api\Data\SessionInterface" type="Dintero\Checkout\Model\Session" />
    <preference for="Dintero\Checkout\Api\SessionManagementInterface" type="Dintero\Checkout\Model\SessionManagement" />
    <preference for="Dintero\Checkout\Api\ExpressCallbackInterface" type="Dintero\Checkout\Model\ExpressCallback" />
    <preference for="Dintero\Checkout\Api\ShippingCallbackInterface" type="Dintero\Checkout\Model\ShippingCallback" />
    <preference for="Dintero\Checkout\Api\EmbeddedCallbackInterface" type="Dintero\Checkout\Model\EmbeddedCallback" />
    <preference for="Dintero\Checkout\Api\Data\Shipping\ResponseInterface" type="Dintero\Checkout\Model\Shipping\Response" />
    <preference for="Dintero\Checkout\Api\Data\ShippingMethodInterface" type="Dintero\Checkout\Model\ShippingMethod" />
    <preference for="Dintero\Checkout\Api\Data\Shipping\RequestInterface" type="Dintero\Checkout\Model\Shipping\Request" />
    <preference for="Dintero\Checkout\Api\Data\ItemInterface" type="Dintero\Checkout\Model\Item" />
    <preference for="Dintero\Checkout\Api\Data\AddressInterface" type="Dintero\Checkout\Model\Address" />
    <preference for="Dintero\Checkout\Api\Data\OrderInterface" type="Dintero\Checkout\Model\Order" />
    <preference for="Dintero\Checkout\Api\Data\Order\ItemInterface" type="Dintero\Checkout\Model\Order\Item" />
    <virtualType name="DinteroVirtual" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Dintero\Checkout\Model\Dintero::METHOD_CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="commandPool" xsi:type="object">DinteroCommandPool</argument>
            <argument name="valueHandlerPool" xsi:type="object">DinteroValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="DinteroCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">Dintero\Checkout\Gateway\Command\AuthorizeCommand</item>
                <item name="capture" xsi:type="string">Dintero\Checkout\Gateway\Command\CaptureCommand</item>
                <item name="refund" xsi:type="string">Dintero\Checkout\Gateway\Command\RefundCommand</item>
                <item name="void" xsi:type="string">Dintero\Checkout\Gateway\Command\VoidCommand</item>
                <item name="fetch_transaction_information" xsi:type="string">Dintero\Checkout\Gateway\Command\FetchTransactionCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="DinteroValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DinteroValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DinteroConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dintero\Checkout\Model\Dintero::METHOD_CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="DinteroValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DinteroConfig</argument>
        </arguments>
    </virtualType>
    <!-- Payment Method configuration -->
    <type name="Dintero\Checkout\Model\Dintero">
        <arguments>
            <argument name="adapter" xsi:type="object">DinteroVirtual</argument>
        </arguments>
    </type>
    <virtualType name="DinteroLoggerConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dintero\Checkout\Model\Dintero::METHOD_CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="DinteroPaymentLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">DinteroLoggerConfig</argument>
        </arguments>
    </virtualType>
    <type name="Dintero\Checkout\Model\Gateway\Http\Client">
        <arguments>
            <argument name="logger" xsi:type="object">DinteroPaymentLogger</argument>
        </arguments>
    </type>
</config>
