<div class="payment-method" data-bind="visible: isVisible, css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span>
                <span data-bind="html: getTitle()"></span>
            </span>
        </label>
    </div>
    <div class="payment-method-content">
        <img data-bind="attr: {'src': getLogoUrl()}, 'alt': getTitle(), 'title': getTitle()">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                        attr: {title: $t('Continue to Dintero')},
                        enable: (getCode() == isChecked() && isPlaceOrderActionAllowed() && showButton()),
                        click: continueToDintero,
                        css: {disabled: !isPlaceOrderActionAllowed()}"
                        class="action primary checkout"
                        disabled>
                    <span data-bind="i18n: 'Continue to Dintero'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
